name: Run unit tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  unit-tests:
    timeout-minutes: 20
    runs-on:
      labels: ubuntu-24.04-arm
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Install Dependencies
        run: sudo apt install protobuf-compiler

      - name: Cache Rust build
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        id: cache-rust
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: rust-build-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            rust-build-${{ runner.os }}-

      - name: Install Rust
        run: rustup toolchain install 1.90.0

      - name: Set Rust as default
        run: rustup default 1.90.0

      - name: Run Tests
        run: cargo test --release -- --test-threads=1
